/*CSS DE LA BARRA DEL MENU*/
.navega{
    background-color:#085C6C;
color: white;
}
#principal{
    font-size: 20px;
}
.letrasNav{
    color:white;
    font-family:Century Ghotic;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
.letrasNav:hover{
    color:#808B96 ;
}
.buscador{
    margin-bottom: -5px;
    height: 10%;
}
.up{
    position: relative;
    top: -8px;
}
#frame_menu{
    width: 100%;
    height: 9.5%;
    min-height: 60px;
}
/*CSS DEL INFO */
.up_info{
    position: relative;
    top: -19px;
}

#frame_info{
    width: 100%;
    height: 44%;
    min-height: 270px;
}
.frame_comments{
    width: 100%;
    height: 44%;
    min-height: 270px;
    background-color: blue;
}
#frame_likes{
    height: 8%; width: 60%;
}
#footer_color{
    background-color:#085C6C;
    padding-top: 1em;
    margin-top: 0.5cm;
    padding-bottom: 1em;
    max-height: 220px;
}

#footer_title{
    color: white;
    font-family: Century Ghotic;
    text-align: center;
}
#titulos_footer{
    color: white;
}
.img_footer{
    width: 30px;
    height: 30px;
}
.footer_lista{
    font-weight: normal;
    font-size: 14px;
    font-family: Century Ghotic;
    text-align: left;
    text-decoration: none;
    color: white;
}
.footer_lista:hover{
    color:#808B96 ;
    text-decoration: none;
}
.derechos{
    background-color: #117864 ;
    color: white;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.margen-arriba{
    margin-top: 0.5cm;
}
.bloque-redes{
    display:inline-block;
}
.mover_categorias{
    position: relative;
    left: 34%;
}
.mover_acerca{
    position: relative;
    left: 59%;
    top: -135px;
}
.quitar_viñeta{
    list-style: none;
}
/*CSS BOTON USUARIO*/

.boton-user{
  display: inline-block;
  padding: 0px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #31ACA4;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px #999;
}
.boton-user:active {
  background-color: #31ACA4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.contenedorDeResultado{
	padding: 1% 3% 1% 3%;
	background-color: rgb(238, 238, 238);
	margin-bottom: 1%;
	border-width: 3px;
	border-style: ridge;
	box-shadow: 3px 3px #888888;
}

.aResultado{
	color: #117864;
	padding-right: 1%;
}


.likeh4{
	background-color: #006eff8c;
	min-width: min-content;
	padding: 3%;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	box-shadow: 3px 3px #888888;

}
.favoritosP{
	background-color: rgb(255, 183, 50);
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	padding: 3%;
	box-shadow: 3px 3px #888888;
}